


body{
	font-family: fantasy;
	font-style: italic;
	text-align: center;
	font-size: 25px;
	background-image: url("http://www.permaculture.co.uk/sites/default/files/images/greek-potato.standard%20460x345.gif");
	background-size: 1600px, 900px;
	background-repeat: no-repeat;
	color: #FF0000;
}
